@mixin flex_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex_start_center {
  display: flex;
  justify-content: start;
  align-items: center;
}

@mixin flex_evenly {
  display: flex;
  justify-content: space-evenly;
}
