@import "index";

.container {
  @include flex_start_center;
  padding: 2rem 5%;
  img {
    max-width: 200px;
    margin: 1rem;
  }
  .infoWrapper {
    padding: 1.5rem;
    h2 {
      font-size: 1.5rem;
    }
    .rating {
      @include font(1.25rem, 1.3, 400);
      @include flex_ai_center;
      .badge {
        background-color: $orange;
        border-radius: 0.25rem;
        padding: 0.25rem 0.5rem;
        @include font(1.125rem, 1.4, 500);
        @include flex_ai_center;
        margin-right: 0.5rem;
        .ratingIcon {
          font-size: 1.25rem;
          margin-left: 0.25rem;
          height: 22px;
        }
      }
    }
    .price {
      @include font(1.5rem, 1, 700);
      color: $orange;
    }
    button {
      padding: 1.5rem;
      border-radius: 0.5rem;
      border: none;
      outline: none;
      cursor: pointer;
      height: fit-content;
      @include font(1rem, 1.4, 500);
      &:hover {
        transform: scale(1.05);
      }
      &:active {
        transform: scale(0.9);
      }
    }
  }
  @include breakpoint(mobile) {
    flex-direction: column;
    .infoWrapper {
      button {
        width: 100%;
      }
    }
  }
}
