@import "index";

.cardGroup {
  @include flex_start;
  max-width: 80%;
  margin: 2rem auto;
  flex-wrap: wrap;
}
.card {
  margin: 0.5rem 1rem;
  .border-box {
    border-radius: 0.5rem;
    @include flex_center;
    border: 1px solid $black;
    padding: 1rem;
    cursor: pointer;
    .techName {
      text-transform: capitalize;
    }
    &:hover {
      border-width: 2px;
    }
  }
}
.hidden_button {
  visibility: hidden;
  position: absolute;
}
